.navigation {
  background-color: var(--purple-dark);
  color: white;
  position: fixed;
  // position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  // box-shadow: 2px 0 2px rgba(#25243E, 1);
  box-shadow: 2px 0 6px 2px rgba(black, 0.3);
}

.innerContainer {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.logo {
  display: flex;
  padding: 8px 0;
  width: 20vw;
  max-width: 320px;

  @media (max-width: 992px) {
    width: unset;
  }

  a {
    color: white;
    text-decoration: none;
    transition: 0.3s filter;

    &:hover {
      filter: brightness(1.2) saturate(1.1);
      
      img {
        transform: translateY(-1px);
      }

      h1 {
        strong {
          text-decoration: underline;
        }
      }
    }
  }

  img {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    margin-inline-end: 8px;
    transition: 0.3s transform;
    // New image logo already includes border and radius
    // border: 1px solid white;
    // border-radius: 4px;
  }

  h1 {
    font-size: 18px;
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
  
    strong {
      color: var(--orange);
    }

    @media (max-width: 574px) {
      display: none;
    }
  }
}

.search {
  padding: 6px 0;
  width: 32vw;
  max-width: 400px;

  @media (max-width: 766px) {
    flex: 1;
    width: unset;
  }
}

.eventShortcuts {
  background-color: var(--gray-1);
  align-self: flex-end;
  margin-top: 14px;
  display: flex;
  padding: 12px 32px 4px;
  gap: 32px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-weight: bold;
  font-size: 15px;
  position: relative;

  @media (max-width: 766px) {
    display: none;
  }

  @media (max-width: 990px) {
    gap: 24px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: var(--gray-c);
    text-decoration: none;

    &:hover {
      color: var(--orange);
    }
  }

  .edge {
    position: absolute;
    bottom: 0;
    width: 8px;
    height: 8px;
    background-color: var(--gray-1);
    
    &.rightEdge {
      left: -8px;
    }

    &.leftEdge {
      right: -8px;
    }
  }

  .edgeFilling {
    position: absolute;
    bottom: 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--purple-dark);

    &.rightEdge {
      left: -16px;
    }

    &.leftEdge {
      right: -16px;
    }
  }
}
