:root {
  --orange         : #F07D4B;
  --purple-dark    : #25243E;
  --purple-dark-2  : #1B1A34;
  --purple-darkest : #1E1E1E;
  --blue-dark      : #0A26B7;
  --blue           : #162EFF;
  --red            : #E21414;
  --gray-1         : #111111;
  --gray-7         : #7A7A7A;
  --gray-c         : #C7C7C7;
}
